<%= render '/shared/content_lead', header: (link_to @post.title, @post.url) %>
<p><%= @post.description %></p>
<hr>
<p></p>
	
<% if logged_in? %>
	<%= render 'shared/errors', obj: @comment %>

	<%= form_for [@post, @comment] do |f| %>
		<div class="control_group">
			<%= f.label :comment, "Leave a comment" %>
			<%= f.text_area :comment_text, rows: "3", class: "span4" %>
			<br/>
			<%= f.submit class: "btn btn-primary" %>
		</div>
	<% end %>
<% end %>
<hr>

<h6>Comments</h6>
<% @post.comments.each do |comment| %>
	<div class="row">
		<div class="well span0 text-center" >
			<%= link_to vote_post_comment_path(@post, comment, vote: true), remote: true, method: "post" do%>
				<i class="icon-arrow-up"></i>
			<% end %>
			<br/>
			<span id="<%="comment_#{comment.id}_id"%>"><%= comment.total_votes %></span> votes
			<br/>
			<%= link_to vote_post_comment_path(@post, comment, vote: false), remote: true, method: "post" do %>
				<i class="icon-arrow-down"></i>
			<% end %>
		</div>
		<div class="well span8">
			<em>
				<p>"<%= comment.comment_text %>"</p>
				<p>by <%= comment.user.username %> 
					<small> at <%= display_datetime(comment.created_at) %> </small>
				</p>
			</em>
		</div>
	</div>
<% end %>


