<h4><%= link_to "All Posts", posts_path %> >> <%= @category.name %></h4>
<% @posts.each do |post| %>
		<div class="well span8">
			<p><%= link_to post.title, post.url %></p>
			<p><%= post.description %></p>
			<p>post by <%=post.user.username %></p>
			<br/>
			<p><%= link_to "#{post.comments.count} comments", post_path(post)%></p>
		</div>
	<% end %>